/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Red+Hat+Display:wght@400;700;900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #ed1c76;
  --first-color-light: #ed1c76;
  --first-color-alt: #ed1c76;
  --first-color-dark:#ed1c76;
  --first-color-gray: hsl(79, 6%, 64%);
  --title-color: hsl(180, 4%, 98%);
  --title-color-black: hsl(180, 4%, 12%);
  --text-color: hsl(180, 4%, 72%);
  --text-color-light: hsl(180, 4%, 65%);
  --body-color: black;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Red Hat Display", sans-serif;
  --second-font: "Kaushan Script", cursive;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.5rem;
  --big-font-size: 1.25rem;
  --h1-font-size: 1.6rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
.style-icon {
  color: #ed1c76;
  margin-right: 1rem;
  font-size: 1.5rem;
}
/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 6rem;
    --bigger-font-size: 3.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.10rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== table ===============*/
/* Table Styles */
.add-margin-bottom {
  padding-bottom: 1rem !important;
}

table  {
  width: 50vw;
  border-collapse: separate;  
  border-spacing: 0;  
  margin: 0 auto;
  text-align: center !important;
  border: 2.5px solid white;
  border-radius: 15px;        
  overflow: hidden; 
}

.paragraf_ab {
  padding-top: 3rem !important;
  width: 50vw;
  margin: 0 auto;
  font-size: var(--h3-font-size);
}

.titlu_ab {
  padding-top: 3rem !important;
  width: max-content;
  margin: 0 auto;
}
/* Zebra striping */
@media only screen and (max-width: 1024px) {
  .paragraf_ab {
    padding-top: 3rem !important;
    width: 85vw;
    margin: 0 auto;
    padding-right: 1rem;
  }
}


th {
  background: var(--first-color);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center !important;
 
}
@media only screen and (max-width: 760px) {
  table {
    width: 90vw;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;  
  }
  table tr:first-child th:first-child {
    border-top-left-radius: 15px;
  }

  table tr:first-child th:last-child {
    border-top-right-radius: 15px;
  }

  table tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
  }

  table tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
  }

}
.text-galerie{
  font-size: calc(1.3rem + .6vw);
  color: white !important;
  font-weight: var(--font-bold);
}
td,
th {
  padding: 1rem;
  border: none;
  text-align: center;
}

  
  td:nth-child() {
    background-color: var(--first-color);
    text-align: center !important;
  }

  tr:nth-child(1),
    tr:nth-child(3) {
        background-color:var(--first-color);
       
    }
  
   tbody {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: auto;
  }

  th, td {
    padding: 8px;
    text-align: center;
    color: white;
   
  }

  th {
    background-color: #f2f2f2;
  }

  @media screen and (max-width: 600px) {
    table {
      overflow-x: scroll;
    }
    table {
      width: 90vw;
      overflow: hidden;
      border-collapse: separate;
      border-spacing: 0;  
    }
    table tr:first-child th:first-child {
      border-top-left-radius: 15px;
    }
  
    table tr:first-child th:last-child {
      border-top-right-radius: 15px;
    }
  
    table tr:last-child td:first-child {
      border-bottom-left-radius: 15px;
    }
  
    table tr:last-child td:last-child {
      border-bottom-right-radius: 15px;
    }
  }
                
.paragraf_ab {
  list-style: none;
}

.subtitlu {
  text-align: center;
}

.paragraf_ab li::before {
  content: "\2022";
  color: #ed1c76;
  font-size: larger;
  font-weight: bold;
  
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  /* max-width: 100%; */
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1 rem;
}

.test {
  margin-left: 50px !important;
  height: 90vh;
}


.section__data,
.about-center {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
  text-align: center;
  margin-bottom: 3rem;
}

.section__title,
.section__title-border {
  font-size: var(--big-font-size);
  letter-spacing: 1.5px;
}

.section__subtitle {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  letter-spacing: 1.5px;
  color: var(--first-color);
  transform: rotate(-2deg);
}

.section__titles {
  display: flex;
  column-gap: 0.75rem;
  justify-content: center;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden; 
}

.color-red {
  color: hsl(0, 80%, 64%);
}

.color-green {
  color: var(--first-color);
}
.container-100{
  width: 100%;
}
/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: background-color 0.3s;
  height: max-content;
}
.nav {
  height: 5rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap !important;
  padding-top: 1rem !important;
}
.nav__logo,
.nav__toggle {
  color: var(--title-color);
  display: flex;
}
.nav__logo {
  align-items: center;
  column-gap: 0.5 rem;
  font-weight: var(--font-bold);
}
.nav__logo img {
  width: 6.5rem;
  /* margin-left: 0.8rem; */
  margin-right: -15px !important;
}
.nav__toggle {
  font-size: 2rem;
  cursor: pointer;
  margin-right: 2rem;
}

.nav__logo:hover {
  color: #ed1c76;
}
.contact-us .map {
  overflow: hidden;
  border-radius: 4px;
}
.section-title {
  padding-left: 6rem;
}
@media screen and (max-width: 1024px) {
  .nav__menu {
    position: fixed;
    background-color: hsla(180, 12%, 8%, 0.8);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    border-left: 2px solid var(--first-color-gray);
    transition: right 0.3s;
  }
}
.nav__list {
  padding: 5rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.nav__link {
  color: var(--title-color);
  transition: color 0.3s;
}
.nav__link:hover {
  color: #ed1c76;
}
.nav__close {
  position: absolute;
  top: 1rem !important;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}
.nav__button {
  background-color: var(--title-color);
  border: none;

  border-radius: 2em;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.bg-header {
  background-color: var(--body-color);
  box-shadow: 0 4px 8px hsla(180, 12%, 4%, 0.3);
}

/* Active link */
.active-link {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(96, 96, 96, 0.366), rgba(43, 43, 43, 0.5)),
    url("../img/poza23-test.jpg");
  background-repeat: no-repeat;
  background-size: auto, cover;
  z-index: -1;
  opacity: 0.6;

}

.home__container {
  position: relative;
  z-index: 1;
}

.home {
  position: relative;
  padding-bottom: 0;
  opacity: 1;
}
.home__container {
  padding-top: 4.5rem;
  /* opacity: 1; */
  /* row-gap: 3rem; */
}

.home__data {
  text-align: center;
  margin-left: 2em;
  /* opacity: 1; */
  max-width: 600px !important;
}
.home__subtitle {
  font-size: var(--bigger-font-size);
  -webkit-text-stroke: 1px var(--title-color);
  color: transparent;
  /* opacity: 1; */
}
.home__title {
  /* font-size:var(--big-font-size); */
  font-weight: var(--font-black);
  margin: 0.5rem 0;
  font-family: var(--second-font);
  font-size: var(--h1-font-size);
  margin-bottom: 1em !important;
  color: #ed1c76;
  
}
.home__subtitle,
.home__title {
  letter-spacing: 1.5px;
  /* color: #000000; */
}
.home__description {
  margin-bottom: 2.5rem;
  font-size: var(--h3-font-size);
  /* color: var(--first-color-light); */
  letter-spacing: 0.7px;
  font-weight: 500;
  color: #fff;
}

.home__img {
  display: block;
  position: relative;
  z-index: 2;
}

/* ======= GALLERY ============ */

/* Slideshow container */
.slideshow-container {
  max-width: 50vw !important;
  position: relative;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  .slideshow-container {
    max-width: 60vw !important;
  }
}

/* Media query pentru ecrane mai mici, cum ar fi telefoanele mobile */
@media only screen and (max-width: 480px) {
  .slideshow-container {
    max-width: 70vw !important;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.fade {
  @include transition($transition-fade);

  &:not(.show) {
    opacity: 1;
  }
}

.mySlides .img_galerie {
  height: 50% !important;
  margin: 0 auto !important;
  border-radius: 2rem !important;
}

/* Stilizare butoanele de închidere a imaginilor mărite */
.close-button {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: var(--first-color);
  cursor: pointer;
}

.close-button:hover {
  color: var(--first-color-alt);
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 10px 10px;
  border: 2px solid var(--first-color);
  color: white;
  font-weight: var(--font-bold);
  cursor: pointer;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: var(--first-color-alt);
  color: white;
}

.button i {
  font-size: 1.25rem;
  transition: transform 0.3s;
}
.button__flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  border-radius: 1.9em;
  margin-bottom: 5em;
  margin-top: 2rem;
}

a:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}

/*=============== LOGOS ===============*/
.logos__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
}
.logos__img {
  width: 120px;
}
/*=============== PROGRAM ===============*/
.program__container {
  grid-template-columns: 225px;
  justify-content: center;
  row-gap: 2rem;
}
.program__card {
  display: grid;
  background: hsla(79, 6%, 64%, 0.07);
  padding: 1.5rem 2rem;
  border: 2px solid transparent;
  transition: background-color 0.5s, border 0.4s;
}

.program__img {
  width: 38px;
}
.program__shape {
  width: 50px;
  height: 50px;
  background-color: var(--first-color-gray);
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
  transition: background-color 0.5s;
}
.program__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}
.program__description {
  font-size: var(--small-font-size);
  letter-spacing: 0.5px;
  line-height: 150%;
}
.program__title,
.program__description {
  transition: color 0.5s;
}
.program__button {
  justify-self: flex-end;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: var(--title-color-black);
  opacity: 0;
  transition: opacity 0.4s;
}
.program__button i {
  display: block;
  transition: transform 0.3s;
}
.program__button:hover i {
  transform: translateX(0.25rem);
}
.program__card:hover {
  background-color: var(--first-color);
  border: 2px solid var(--first-color-light);
}
.program__card:hover .program__shape {
  background-color: var(--first-color-light);
}
.program__card:hover .program__title,
.program__card:hover .program__description {
  color: var(--title-color-black);
}
.program__card:hover .program__button {
  opacity: 1;
}

/*=============== CHOOSE ===============*/
.choose {
  padding-bottom: 0;
}
.choose__overflow {
  position: relative;
}
.choose__container {
  row-gap: 3rem;
}
.choose__content .section__date {
  margin-bottom: 2rem;
}
.choose__description {
  text-align: center;
  margin-bottom: 2.5rem;
}
.choose__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
}
.choose__group {
  text-align: center;
}
.choose__number {
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  font-weight: 400;
  margin-bottom: 0.25rem;
}
.choose__subtitles {
  font-size: var(--small-font-size);
}
.choose__triangle {
  height: 325px;
  position: absolute;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}
.choose__triangle-1 {
  width: 305px;
  background-color: var(--first-color);
}
.choose__triangle-2 {
  width: 205px;
  background-color: var(--first-color-alt);
}
.choose__triangle-3 {
  width: 105px;
  background-color: var(--first-color-dark);
}
.choose__img {
  width: 260px;
  display: block;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}
/*=============== PRICING ===============*/
.pricing__container {
  grid-template-columns: 270px;
  justify-content: center;
  row-gap: 3rem !important;
  margin-bottom: 2rem !important;
}
.display {
  color: hsla(79, 6%, 64%, 0) !important;
}

.display-mijloc {
  color: var(--first-color) !important;
}

.add-mijloc {
  color: var(--first-color) !important;
}

.add {
  color: hsla(79, 6%, 64%, 0) !important;
}
/* .incercare{

  background:  url("../img/imagine wave new.jpg");
  background-repeat: no-repeat;

} */
.pricing__card,
.pricing__shape,
.pricing__list {
  display: grid;
}

.pricing__card {
  row-gap: 2rem;
  background-color: hsla(79, 6%, 64%, 0.07);
  padding: 2rem 2.5rem;
}

.pricing__img {
  width: 35px;
  margin: 0 auto;
  margin-bottom: 0.7rem !important;
}

.pricing__shape {
  width: 60px;
  height: 60px;
  background-color: var(--first-color-gray);
  border-radius: 50%;
  place-items: center;
  margin: 0 auto;
}

.pricing__title {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.pricing_number {
  font-size: var(--h1-font-size);
  text-align: center !important;
}

.pricing__list {
  row-gap: 0.6rem;
  /* margin-top: 3em; */
}

.pricing__item {
  display: flex;
  column-gap: 0.4rem;
  align-items: center;
  font-size: var(--small-font-size);
}

.pricing__item i {
  font-size: 1.25rem;
  color: var(--first-color);
}

.pricing__item-no i {
  color: red;
}

.pricing__button {
  background-color: var(--title-color);
  padding: 15px 26px !important;
  width: max-content !important;
  margin: 0 auto;
}

.pricing__button:hover {
  background-color: var(--title-color);
}

.pricing__card-active {
  background-color: var(--first-color);
  border: 2px solid var(--first-color-dark);
}

.pricing__card-active .pricing__shape {
  background-color: var(--first-color-light);
}

.pricing__card-active .pricing__item i {
  color: var(--title-color);
}

.pricing__card-active .pricing__title,
.pricing__card-active .pricing__number,
.pricing__card-active .pricing__item {
  color: var(--title-color-black);
}

.pricing__card-active .pricing__item-no i {
  color: red;
}

.no {
  color: var(--title-color-black);
}
#not-show,
i {
}

/*=============== CALCULATE ===============*/
.calculate {
  padding-bottom: 0;
}
#text-roz {
  color: #bd487b;
}
.calculate__container {
  row-gap: 3rem !important;
  margin-bottom: 5rem;
}

.calculate__content {
  text-align: center;
  margin-left: 1.5rem !important;
}
.calculate__description {
  text-align: center !important;
  margin-bottom: 2.5rem;
  padding-left: 5px !important;
}
.calculate__form {
  display: grid;
  row-gap: 2rem;
}

.calculate__box {
  position: relative;
  border: 2px solid var(--first-color-light);
}
.calculate__input {
  width: 100%;
  background-color: transparent;
  padding: 20px 56px 20px 24px;
  outline: none;
  border: none;
  color: var(--text-color);
}
.calculate__input::-webkit-outer-spin-button,
.calculate__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calculate__input[type="number"] {
  appearance: textfield;
}
.calculate__label {
  position: absolute;
  right: 1.5rem;
  top: 1.25rem;
  color: var(--title-color);
}
.calculate__form .button {
  margin-top: 1.5rem;
}
.calculate__img {
  width: 300px;
  height: 300px;
  justify-self: center;
  border-radius: 2rem;
}

.calculate__message {
  position: absolute;
  transform: translateY(1rem);
}
.margin-top {
  margin-top: 3rem !important;
}
.formular {
  width: max-content;
  margin: 0 auto;
  padding-top: 2rem;
}
/*=============== carduri testimoniale  ===============*/

.testimoniale-container {
  display: flex;
  /* align-items: center; */
  flex-flow: wrap;
  justify-content: center;
}

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

figure.snip1157 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 500px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}
.cristi{
  margin-top: 4rem !important;
}
figure.snip1157 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.snip1157 img {
  max-width: 100%;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}

figure.snip1157 blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 25px 50px 30px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}

figure.snip1157 blockquote:before,
figure.snip1157 blockquote:after {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}

figure.snip1157 blockquote:before {
  top: 25px;
  left: 20px;
}

figure.snip1157 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}

figure.snip1157 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fafafa;
  margin: 0;
  position: absolute;
}

figure.snip1157 .author {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 120px;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

figure.snip1157 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 700;
}

figure.snip1157 .author h5 span {
  font-weight: 300;
}
figure.snip1157 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

/* Demo purposes only */
body {
  background-color: #212121;
}

/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 4rem;
  padding-top: 1rem;
}
.footer__logo,
.footer__description {
  color: var(--title-color);
}
.footer__logo,
.footer__form,
.footer__social {
  display: flex;
}
.footer__logo {
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
}
.footer__logo img {
  width: 1.5rem;
}
.footer__description {
  margin-bottom: 2rem;
}
.footer__form {
  flex-direction: column;
  gap: 1.25rem;
}
.footer__input {
  padding: 20px 56px 20px 24px;
  border: 2px solid var(--first-color-light);
  background-color: transparent;
  color: var(--text-color);
  outline: none;
}
.footer__content,
.footer__links,
.footer__group {
  display: grid;
}
.footer__content {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3.5rem;
  margin-top: 2rem;
}
.footer__title {
  margin-bottom: 1.5rem;
  font-size: var(--h3-font-size);
}
.footer__links {
  row-gap: 0.75rem;
}
.footer__link {
  color: var(--text-color);
  transition: color 0.3s;
}
.footer__link:hover {
  color: var(--first-color);
}
.footer__group {
  margin-top: 5rem;
  justify-items: center;
  row-gap: 2rem;
}
.footer__social {
  column-gap: 1.25rem;
}
.footer__social-link {
  display: inline-flex;
  padding: 0.25rem;
  background-color: var(--first-color);
  border-radius: 100%;
  font-size: 1.5rem;
  color: white;
  transition: background-color 0.4s;
}
.footer__social-link:hover {
  background-color: var(--first-color-dark);
  color: white;
}
.footer__copy {
  font-size: var(--h3-font-size);
  color: var(--text-color-light);
}
.footer__message {
  padding-top: 1rem;
}
/*=============== SCROLL BAR ===============*/
html::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(79, 4%, 15%);
}
html::-webkit-scrollbar-thumb {
  background-color: hsla(79, 4%, 35%);
  border-radius: 0.7rem;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: hsla(79, 4%, 45%);
}

/*=============== SCROLL UP ===============*/

.text-alb {
  color: white;
}


.scrollUp {
  position: fixed;
  right: 2rem; 
  bottom: 2rem; 
  background-color: var(--first-color); 
  display: inline-flex;
  padding: 0.35rem;
  color: white;
  font-size: var(--z-tooltip);
  transition: 0.3s;
  z-index: 100000;
}

.scrollUp:hover {
  transform: translateY(-0.25rem);
  color: white; 
}

.show-scroll {
  bottom: 3rem;
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
  .scrollUp {
    right: 1rem; 
    bottom: 1.5rem; 
  }

  .show-scroll {
    bottom: 2.5rem; 
  }
}

@media (max-width: 480px) {
  .scrollUp {
    right: 1rem; 
    bottom: 0.7rem; 
  }

  .show-scroll {
    bottom: 1.5rem; 
  }
}


/*=============== BREAKPOINTS ===============*/

.section-center.about-center.margin {
  max-width: 1200px;
  margin: 0 auto;
}

.section-center.about-img {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .section-center.about-center.margin {
    max-width: 90%; 
    margin: 0 auto;
  }

  .section-center.about-center {
    font-size: 0.75rem;
  }
    .section-center.about-img {
      max-width: 1000px;
      margin: 0 auto !important;
    }
  }


@media screen and (max-width: 340px) {
  .container {
    margin-right: 1rem;
  }
  .section__titles {
    flex-direction: column;
    row-gap: 0.25rem;
  }
  .home__triangle,
  .choose__triangle {
    height: 255px;
  }
  .home__triangle-3,
  .choose__triangle-1 {
    width: 260px;
  }
  .choose__img {
    width: 195px;
  }
  .pricing__container {
    grid-template-columns: 250px;
  }
  .pricing__card {
    padding: 1.5rem;
  }
  .footer__content {
    grid-template-columns: 1fr;
  }
  .about-center {
    text-align: center !important;
    display: flex !important;
    flex-direction: column !important;
    row-gap: 0.75rem !important;
    text-align: center !important;
    margin-bottom: 3rem;
  }
  .about-info {
    text-align: center !important;
  }
  .about-info h3 {
    font-size: 1rem !important;
    text-align: center !important;
  }
  .about-info p {
    font-size: 0.75rem !important;
    text-align: center !important;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .nav__menu {
    width: 50%;
  }
  .home__container,
  .choose__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home__data,
  .choose__content .section__data,
  .choose__description,
  .calculate__description {
    text-align: initial;
  }
  .logos__container {
    grid-template-columns: repeat(4, 1fr);
  }
  .program__container {
    grid-template-columns: repeat(2, 225px);
    gap: 2.5rem;
  }
  .choose__content {
    order: 1;
  }
  .choose__data {
    justify-items: flex-start;
  }
  .choose__content .section__titles,
  .calculate__content .section__titles {
    justify-content: initial;
  }
  .pricing__container {
    grid-template-columns: repeat(2, 285px);
    gap: 2.5rem;
  }
  .calculate__container {
    grid-template-columns: repeat(3, 1fr) !important;
    align-items: center;
  }
  #titlu-despre {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    color: #992157;
  }
  .titlu {
    margin-bottom: 2rem !important;
  }
  #paragraf {
    margin-bottom: 10px !important;
  }

  #enumeratie {
    margin-top: 0 !important;
  }
  #paragraf-despre {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .calculate__form {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .calculate__form .button {
    grid-column: 1 / 3;
  }
  .footer__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: initial;
  }
  .footer__content {
    justify-content: initial;
    grid-template-columns: repeat(3, max-content);
  }
}

/* pentru width < 1024 */
@media screen and (max-width: 1024px) {
  .home__data {
    text-align: left;
    /* Reset text alignment to left when screen width is 1024px or less */
    margin: 0 auto;
    /* Center the entire div by adding auto margin */
    max-width: 75vw !important;
    /* Optionally, limit the maximum width for better readability */
    margin-top: 4rem !important;
  }
  .home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(46, 46, 46, 0.366), rgba(43, 43, 43, 0.5)),
      url("../img/poza23.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.4;
  }
  .home__title {
    text-wrap: balance;
    margin-bottom: 4rem !important;
  }
  .home__description {
    text-wrap: balance;
    margin-bottom: 4rem !important;
  }
  .home__container {
    display: flex;
    align-items: center;
  }
  .test {
    margin-left: 0 !important;
    height: 100vh;
  }
}
/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height)+ 2rem);
  }
  .nav__menu {
    width: initial;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    padding: 0;
    align-items: center;
    column-gap: 4rem;
  }
  .section {
    padding: 7rem 0 0;
  }
  .section__subtitle {
    font-size: 2.5rem;
  }
  .home__container {
    /* grid-template-columns: repeat(2, max-content); */
    /* align-items: initial; */
    width: 100% !important;
  }
  .home__title {
    margin: 0.75rem 0 1.25rem;
  }
  .home__description {
    
    margin-bottom: 3rem;
  }
  .home__img {
    width: 550px;
    transform: translateX(-6rem);
  }

  .logos__img {
    width: 190px;
  }
  .choose__overflow {
    overflow: hidden;
  }
  .choose__img {
    width: 400px;
  }

  .footer {
    padding-bottom: 3rem;
  }
  .footer__form {
    flex-direction: row;
  }
  .footer__content {
    column-gap: 5rem;
  }
  .footer__group {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    margin-top: 7rem;
  }
  .footer__social {
    order: 1;
  }
}

.program__container {
  grid-template-columns: repeat(4, 245px);
  padding: 3rem 0;
}
.program__card {
  padding: 2rem;
}
.program__description {
  font-size: var(--normal-font-size);
}
.choose__container {
  column-gap: 8rem;
}
.choose__img {
  width: 450px;
  margin: 0 0 0 auto;
}
.choose__triangle {
  height: 800px;
}
.choose__images {
  position: relative;
}
.choose__data {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 8rem;
}
.choose__description {
  width: 418px;
  margin-bottom: 3.5rem;
}
.pricing__container {
  padding-top: 3rem;
  grid-template-columns: repeat(3, 320px);
}

.pricing__card {
  padding: 2rem 3.5rem;
  row-gap: 2.5rem;
}
.calculate__description {
  width: 415px;
}

.calculate__img {
  width: 300px;
}
.scrollUp {
  right: 3rem;
}

.section-1 {
  margin-top: 3rem !important;
}
.section-center {
  width: 90vh;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95%;
  }
}
@media screen and (min-width: 992px) {
  .about-center {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
  }

  .about-img,
  .about-info {
    flex: auto;
    margin-bottom: 0;
    align-self: center;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  .about-info {
    text-wrap: balance;
  }
  .about-img {
    width: fit-content !important;
  }
}
.locatie-inot {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.add-margin {
  margin-bottom: 2rem !important;
  margin-bottom: 2rem !important;
}

@media screen and (min-width: 1332px) {
  .about-img::before {
    content: "";
    position: absolute;
    border: 0.4rem solid #fff;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: -1.5rem;
    left: -1.5rem;
    z-index: -1;
    border-radius: 1rem;
  }
  
}

.about-photo {
  width: 40vw;
  height: 50vh;
  border-radius: 1rem;
}
.about-img {
  position: relative;
}

.about-img,
.about-info {
  margin-bottom: 2rem;
  padding-left: 1rem;
}
.margin {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.antrenori {
  width: 50%;
  height: 60%;
}

.service {
  text-align: center;
  margin-bottom: 3rem;
}

.services {
  margin-top: 5em !important;
}

.service-text {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  .service-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .service {
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 1rem;
  }
  .section-1 {
    margin-top: 3rem !important;
  }
  .section-center {
    width: 90vh;
    margin: 0 auto;
    max-width: 1170px;
  }

  @media screen and (min-width: 992px) {
    .section-center {
      width: 95%;
    }
  }
  @media screen and (min-width: 992px) {
    .about-center {
      display: flex;
      justify-content: space-between;
      column-gap: 1rem;
    }

    .about-img,
    .about-info {
      flex: auto;
      margin-bottom: 0;
      align-self: center;
    }
  }

  @media screen and (min-width: 1332px) {
    .about-img::before {
      content: "";
      position: absolute;
      border: 0.4rem solid #fff;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      top: -1.5rem;
      left: -1.5rem;
      z-index: -1;
      border-radius: 1rem;
    }
  }

  .about-photo {
    width: 40vw;
    height: 50vh;
    border-radius: 1rem;
  }
  .about-img {
    position: relative;
  }

  .about-img,
  .about-info {
    margin-bottom: 2rem;
  }
  .margin {
    margin-top: 3rem !important;
  }
  .antrenori {
    width: 50%;
    height: 60%;
  }
  .service {
    text-align: center;
    margin-bottom: 3rem;
  }

  .services {
    margin-top: 5em !important;
  }

  .service-text {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 576px) {
    .service-center {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .service {
      flex: 0 0 calc(50% - 1rem);
      margin-bottom: 1rem;
    }
  }

  @media screen and (min-width: 992px) {
    .service {
      flex: 0 0 calc(33.33% - 1rem);
    }
  }

  @media screen and (min-width: 1170px) {
    .service {
      display: flex;
      text-align: left;
    }

    .service-icon {
      align-self: start;
    }

    .service-info {
      padding-left: 1rem;
    }

    .service-title {
      margin-bottom: 0.5rem;
    }
  }

  .section-1 {
    margin-top: 3rem !important;
  }

  .section-center {
    width: 90vh;
    margin: 0 auto;
    max-width: 1170px;
  }

  @media screen and (min-width: 992px) {
    .section-center {
      width: 95%;
    }
  }

  @media screen and (min-width: 992px) {
    .about-center {
      display: flex;
      justify-content: space-between;
      column-gap: 1rem;
    }

    .about-img,
    .about-info {
      flex: 0 0 calc(50% - 2rem);
      margin-bottom: 0;
      align-self: center;
    }
  }

  @media screen and (min-width: 1332px) {
    .about-img::before {
      content: "";
      position: absolute;
      border: 0.4rem solid #fff;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      top: -1.5rem;
      left: -1.5rem;
      z-index: -1;
      border-radius: 1rem;
    }
  }

  .about-photo {
    width: 40vw;
    height: 50vh;
    border-radius: 1rem;
  }

  .about-img {
    position: relative;
    width: 80vw !important;
  }

  .about-img,
  .about-info {
    margin-bottom: 2rem;
  }
  .about-img {
    width: fit-content !important;
  }

  .margin {
    margin-top: 3rem !important;
  }

  .antrenori {
    width: 50%;
    height: 60%;
  }

  .service {
    text-align: center;
    margin-bottom: 3rem;
  }

  .services {
    margin-top: 5em !important;
  }

  .service-text {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 576px) {
    .service-center {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .service {
      flex: 0 0 calc(50% - 1rem);
      margin-bottom: 1rem;
    }
  }

  @media screen and (min-width: 992px) {
    .service {
      flex: 0 0 calc(33.33% - 1rem);
    }
  }

  @media screen and (min-width: 1170px) {
    .service {
      display: flex;
      text-align: left;
    }

    .service-info {
      padding-left: 1rem;
    }

    .service-title {
      margin-bottom: 0.5rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .service {
    flex: 0 0 calc(33.33% - 1rem);
  }
}

@media screen and (min-width: 1170px) {
  .service {
    display: flex;
    text-align: left;
  }

  .service-info {
    padding-left: 1rem;
  }

  .service-title {
    margin-bottom: 0.5rem;
  }
}

 .text-blk.subHeading{
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: var(--text-color);
  margin-top: 1rem;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-left: 10px !important;
  /* color: var(--first-color-light); */
  letter-spacing: 0.7px;
  text-align: left;

}


  .iframe {
    margin-bottom: 30px !important;
  }

  .number4vid {
    margin-bottom: 100px;
  }

  .text-blk.heading {
    font-size: calc(1.3rem + .6vw);
    line-height: 40px;
    max-width: 370px;
    width: auto;
    text-align: left !important;
    color: white;
    font-weight: var(--font-bold);
  }

  .dext-blk.subHeading {
    font-size: var(--h3-font-size);

    text-align: left;
    text-wrap: balance;
    margin-left: 20px;
    margin-right: 20px;
  }

.responsive-container-block.leftSide {
    /* width: 100% !important; */
  }
  .responsive-container-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bigContainer {
    background-color: var(--primary-color);
    padding: 10px 20px;
    margin-bottom: 40px;
}

.Container {
    max-width: 1320px;
    /* margin-left: 30px; */
}

.leftSide {
  width: 100%;
  max-width:480px;
  /* margin-left: 20px;  */
  display: flex;
  flex-direction: column;
  justify-content: left; 
  /* margin-right: 2rem !important; */
  margin: 0 auto;
}

.rightSide {
    width: 400px;
    height: 500px;
    margin-top: 20px;
    margin-left: 30px;
}
/* .heading {
  text-align: center !important;
} */
@media (max-width: 1024px) {
    .Container {
        flex-direction: column;
    }
    
    .leftSide {
        align-items: center;
        margin-right: 0;
        margin: 0 auto;
        width: 75vw;
    }
    
    .rightSide {
        /* width: 90vw; */
        margin-top: 20px;
        margin-left:10px !important
    }
}
@media (min-width: 1023px){
  .text-blk.heading{
    text-align: left !important;
    margin-top: 20px;
    margin-left: 10px;
  }
}
.cristi{
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1 !important;
}
.slideshow-container {
  width: 80vw;
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
/* container */
.two-columns-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* columns */
.two-columns-grid > * {
  padding: 1rem;
}
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #090909;
  overflow: hidden;
  z-index: -99999;
}

.background span {
  width: 13vmin;
  height: 13vmin;
  border-radius: 13vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 22;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #992157;
  top: 99%;
  left: 1%;
  animation-duration: 283s;
  animation-delay: -226s;
  transform-origin: -23vw -4vh;
  box-shadow: 26vmin 0 4.108391651458762vmin currentColor;
}

.background span:nth-child(1) {
  color: #992157;
  top: 90%;
  left: 46%;
  animation-duration: 64s;
  animation-delay: -248s;
  transform-origin: -2vw -22vh;
  box-shadow: 26vmin 0 4.017784785019119vmin currentColor;
}

.background span:nth-child(2) {
  color: #992157;
  top: 39%;
  left: 51%;
  animation-duration: 65s;
  animation-delay: -268s;
  transform-origin: -8vw 5vh;
  box-shadow: 26vmin 0 3.682587682259497vmin currentColor;
}

.background span:nth-child(3) {
  color: #6f1754;
  top: 36%;
  left: 93%;
  animation-duration: 75s;
  animation-delay: -220s;
  transform-origin: -14vw 3vh;
  box-shadow: 26vmin 0 4.108107105350231vmin currentColor;
}

.background span:nth-child(4) {
  color: #992157;
  top: 99%;
  left: 90%;
  animation-duration: 149s;
  animation-delay: -20s;
  transform-origin: 12vw -21vh;
  box-shadow: -26vmin 0 3.3960485239874494vmin currentColor;
}

.background span:nth-child(5) {
  color: #6f1754;
  top: 13%;
  left: 68%;
  animation-duration: 30s;
  animation-delay: -149s;
  transform-origin: -2vw 18vh;
  box-shadow: 26vmin 0 3.4625705393810904vmin currentColor;
}

.background span:nth-child(6) {
  color: #6f1754;
  top: 63%;
  left: 35%;
  animation-duration: 64s;
  animation-delay: -157s;
  transform-origin: -24vw -19vh;
  box-shadow: 26vmin 0 3.4092992065055143vmin currentColor;
}

.background span:nth-child(7) {
  color: #6f1754;
  top: 48%;
  left: 4%;
  animation-duration: 73s;
  animation-delay: -23s;
  transform-origin: 23vw 16vh;
  box-shadow: -26vmin 0 3.627004448302301vmin currentColor;
}

.background span:nth-child(8) {
  color: #6f1754;
  top: 79%;
  left: 56%;
  animation-duration: 276s;
  animation-delay: -173s;
  transform-origin: 20vw 23vh;
  box-shadow: 26vmin 0 3.7425472981268864vmin currentColor;
}

/* Media query for smaller screens for map and contact section*/
@media (max-width: 768px) {
  .schedule h3 {
    font-size: 1.3rem; 
  }
}
.schedule h3 {
  font-size: 1.55rem;
}
.margin-text {
  margin-bottom: 2rem;
}
.container-1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.schedule,
.map {
  flex: 1;
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.schedule {
  background-color: var(--primary-color);
  padding: 20px;
}

.map {
  background-color: var(--primary-color);
  padding: 20px;
}

@media (max-width: 768px) {
  .schedule,
  .map {
    width: 100%;
  }
}

.about-section-1 {
  display: flex;
  flex-wrap: wrap;
  padding: 40px; 
}

.text-1 {
  flex: 1;
  padding: 20px; 
}

.video {
  flex: 1;
  position: relative;
  overflow: hidden; 
}

.video iframe {
  width: 80%; 
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Responsive Layout */
@media screen and (max-width: 768px) {
  .about-section-1 {
    flex-direction: column;
  }

  .video {
    order: 2; 
  }

  .text-1,
  .video {
    flex: 1;
    width: 100%; 
  }
}
.contact-form-nou {
  margin: 0 auto;
  
  width: 100%;
}

/* sectiune locatie si footer */
.contact-bg-nou {
  /* height: 20vh; */

  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 2rem; */
}

.contact-bg-nou h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.line div {
  margin: 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3) {
  height: 3px;
  width: 70px;
  background: var(--first-color);
  border-radius: 5px;
}

.line {
  display: flex;
  align-items: center;
}

.line div:nth-child(2) {
  width: 10px;
  height: 10px;
  background: var(--first-color);
  border-radius: 50%;
}

.text-nou {
  font-weight: 300;
  opacity: 0.9;

  font-size: var(--h3-font-size);
}

.contact-bg-nou .text-nou {
  margin: 1.6rem 0;
  font-size: 1rem;
}



.contact-body-nou {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}

.contact-info-nou {
  text-align: center;
  padding-top: 1rem;
  margin-top: 1rem;
}

.contact-info-nou span {
  display: block;
}

.contact-info-nou div {
  margin: 0.8rem 0;
  padding: 1rem;
}

.contact-info-nou span .fas {
  font-size: 2rem;
  padding-bottom: 0.9rem;
  color: #bd487b;
}

.contact-info-nou div span:nth-child(2) {
  font-weight: 500;
  font-size: 1.1rem;
}

.contact-info-nou .text-nou {
  padding-top: 0.4rem;
  font-size: var(--h3-font-size);
}

.contact-form-nou {
  padding: 2rem 0;
  border-top: 1px solid var(--first-color);
}

.contact-form-nou form {
  padding-bottom: 1rem;
}

.form-control {
  width: 100%;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.6rem 0;
  border: 2px solid var(--first-color);
  font-size: var(--h3-font-size);

  background-color: transparent;
  outline: none;
  color:var(--first-color-gray) !important;
}

.form-control:focus {
  box-shadow: 0 0 6px -3px rgb(15, 14, 14);
}

.form-control::placeholder{
  color: #7c7b7b ;
}

.contact-form-nou form div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}

.send-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  background: #f7327a;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.send-btn:hover {
  opacity: 0.8;
}

.contact-form-nou > div {
  margin: 0 auto;
  text-align: center;
}

.contact-footer {
  padding: 2rem 0;

  margin-top: 6rem;
}

.contact-footer h3 {
  font-size: 1.3rem;
  color: var(--first-color);
  margin-bottom: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.contact-footer .text-alb {
  text-align: center;
}

.contact-footer a {
  color: #fff;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.4rem;
  transition: all 0.4s ease;
}

.social-links a:hover {
  color: var(--first-color) !important;

  border-color: var(--first-color-dark) !important;
}

@media screen and (min-width: 768px) {
  .contact-bg-nou .text-nou {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-info-nou {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .contact-bg-nou .text-nou {
    width: 50%;
  }
  .harta {
    width: 600px !important;
    margin: 0 auto;
    
  }
  .contact-form-nou {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info-nou {
    grid-template-columns: repeat(4, 1fr);
  }
}

.contact-section-nou {
  margin-top: 5rem;
}
.margin_bottom{
  margin-bottom: 3rem;
}
.no-text{
  display: none;
}

@mixin transition($transition) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
.prev{
  color: var(--first-color) !important;
  margin-left: -3rem;
  font-size: 2rem;
  
}
.next{
  margin-right: -3rem;
  font-size: 2rem;
  color: var(--first-color) !important;
}
#carrousel{
    margin: 10px;
    @media (max-width: 768px){
        margin: 70px 0px 0px 0px;
    }
    @media (max-width: 425px){
        margin: 50px 0px 0px 0px;
    }  
    .title{
      margin-bottom: 10px;
      font-size: 30px;
    }
    .owl-carousel {
        img{
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 300px;
            object-fit: cover;
            @include transition(all 0.2s ease);
            -webkit-box-shadow: 12px 12px 10px -10px rgba(0,0,0,.25);
            -moz-box-shadow: 12px 12px 10px -10px rgba(0,0,0,.25);
            box-shadow: 12px 12px 10px -10px rgba(0,0,0,.25);
        }
        .owl-item{
            height: 300px;
            position: relative;
            transform: scale(0.7);
            -ms-transform: scale(0.7);
            transition: all .2s;
            -webkit-transform: all .2s;
            z-index: 1;
            @media (max-width: 768px){
                height: 270px;
            }
            @media (max-width: 380px){
                height: 200px;
            }
        }
        .owl-stage-outer {
            padding-bottom: 10px;
        }
    }

    .owl-item {
        &.big{
            transform: scale(1);
            -ms-transform: scale(1);
            z-index: 3;
        }
    }

    .owl-item{
        &.medium{
            transform: scale(0.8);
            -ms-transform: scale(0.8);
            z-index: 2;

            &.mdright{
                /*border: solid 1px red;*/
                position: relative;
                left: -30px;
                @media (min-width: 768px){
                    left: 0px;
                }
            }
            &.mdleft{
                /*border: solid 1px blue;*/
                position: relative;
                right: -30px;
                @media (min-width: 768px){
                    right: 0px;
                }
            }
        }
    }

    .owl-item{
        &.smallRight{
            &.active{
                transform: scale(0.7);
                -ms-transform: scale(0.7);
                position: relative;
                left: -30px;
            }
        }
    }
    .owl-item {
        &.smallLeft {
            &.active {
                transform: scale(0.7);
                -ms-transform: scale(0.7);
                position: relative;
                right: -30px;
            }
        }
    }

    .owl-nav{
        position: absolute;
        top: 30%;
        width: 100%;
        .owl-prev{
            position: absolute;
            left: 0px;
            top: 10px;
            background: transparent !important;
            color: #000 !important;
            font-size: 40px !important;
            &:hover{
                color: #adadad !important;
            }
        }
        .owl-next{
            position: absolute;
            right: 0px;
            top: 10px;
            background: transparent !important;
            color: #000 !important;
            font-size: 40px !important;
            &:hover{
                color: #adadad  !important;
            }
        }
    }
}


canvas {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}


#container1 {
  position: relative !important;
  width: 768px;
  height: 485px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  #container1 {
    display: none;
  }
}

/* <!--====================galerie noua ====================--> */
 
    .container-galerie {
      cursor: pointer;
      background-position: center center;
      background-size: cover;
      background-image: url("https://images.unsplash.com/photo-1621295693450-080546d2ec8e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMTYyOTMxMA&ixlib=rb-1.2.1&q=80&w=1800");
      width: 100vw;
      height: 100vh;
      position: relative;
    }

    .container-galerie:focus {
      display: none;
    }
    
    .flap {
      width: 60vmax;
      height: 60vmax;
      position: absolute;
      bottom: 50%;
      right: 50%;
      pointer-events: none;
      will-change: transform;
      background: linear-gradient(35deg, #555, black);
      border: solid 4px #999;
    
      --p: calc(var(--i) / var(--flaps));
    
      animation: click 0.3s cubic-bezier(0.3, 0, 0.3, 0.5) 0.1s;
      transform-origin: bottom right;
    }
    
    .flap:nth-child(1) { --i: 0; }
    .flap:nth-child(2) { --i: 1; }
    .flap:nth-child(3) { --i: 2; }
    .flap:nth-child(4) { --i: 3; }
    .flap:nth-child(5) { --i: 4; }
    .flap:nth-child(6) { --i: 5; }
    
    @keyframes click {
      48%, 52% {
        transform: rotate(-0.25turn) rotate(calc(1turn * var(--p))) skewX(30deg) translateX(0%) translateY(0%);
      }
    }
    
    .photo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      box-shadow: 0 10px 40px #000;
      margin: -1rem;
      margin-bottom: -5rem;
      border: solid 1rem #fff;
      border-bottom-width: 5rem;
      animation: photo 1s cubic-bezier(0.5, 0, 0.5, 1) 0.2s both;
    }
    
    @keyframes photo {
      30%, 60%, 70% {
        filter: sepia(30%) saturate(140%) contrast(120%);
        transform: scale(0.5) rotate(-4deg);
      }
      61% {
        opacity: 1;
      }
      71% {
        opacity: 0;
        transform: none;
      }
      100% {
        filter: none;
        opacity: 1;
      }
    }
   
  
  
  /* lightbox styles - zoom la imagini carrusel */
  
  .lb-image{
    margin-top:50% !important;
  }
  .lb-details{
    display: none !important;
  }
  #lightboxOverlay{
    opacity: 0.9;
  }

  .lb-prev,
  .lb-next
  {
    color: white;
    font-size: 1rem;
    visibility: visible !important;
    display: inline !important;
  }

 

  .wrapper {
    width: 100%;
    max-width: 400px;
    height: 200px;
    display: table;
    border: 4px solid var(--first-color-alt);
    margin: 20px auto;
    padding: 15px;
    margin-left: 1.7rem !important;
    margin-right: 1.7rem !important;
    position: relative;
  }
 
 
  .wrapper:after,
  .wrapper:before {
    content: '';
    position: absolute;
    font-family: "fontAwesome" !important;
    font-size: 50px;
    color: white;
    background: #000000;
    font-weight: 900;
   
  }
  
  .wrapper:after {
    content: '\f10d';
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 0 #000000;
    font-weight: 900;
    font-family: "Font Awesome";
  }
  
  .wrapper:before {
    content: "\f10e";
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    box-shadow: -10px -10px 0 #000000;
    font-weight: 900;
  }
  
  .title,
  .description {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
  }
  
  .description {
    font-size: 16px;
    font-style: italic;
    
  }
  
  .title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 0 20px 0 0;
  }
  
  .title small {
    display: block;
    font-size: 25px;
    text-align: right;
  }
  
  .border-radius {
    border-radius: 30px;
  }
  
  .text-right {
    text-align: right;
  }
  
  @media (min-width: 768px) {
    .title,
    .description {
      display: block;
      width: 100%;
      text-align: center; 
    }
  }
  @media (max-width: 767px) {
    .title,
    .description {
      display: block;
      width: 100%;
      text-align: center; 
    }
  
    .title {
      padding-bottom: 10px; 
    }
    .scrollUp{
    position: fixed;
  right: 1rem !important;
  bottom: 5vh !important;
  background-color: var(--first-color);
  display: inline-flex;
  padding: 0.35rem;
  color: white;
  font-size: var(--z-tooltip);
  transition: 0.3s;
    }

  }
 iframe{
  /* width: 281px !important; */
  border-radius: 20px !important;
 }
 
 .video-youtube{
  width: 281px !important;
 }
 .media-container{
  border-radius: 20% !important;
 }
 
 a .watermark  {
  display: none !important;
  visibility: hidden !important;
 }

 #play-overlay #play-background{
  border-radius: 20px !important;
 }

 #play-overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
  background-color: black;
  border-radius: 20px;
}
.player #play-overlay #play-background {
  height: 100%;
  width: 100%;
  border-radius: 20px !important;
}
 
/* Add this CSS to style the arrows */

/* Style for the arrow buttons */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ed1c76; /* Change the background color as desired */
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  z-index: 100; /* Ensure the buttons appear above the video */
  transition: background-color 0.3s ease; /* Add a transition effect for a smoother hover effect */
}

/* Style for the previous arrow */
.prev-arrow {
  left: 10px; /* Adjust the distance from the left side */
}

/* Style for the next arrow */
.next-arrow {
  right: 10px; /* Adjust the distance from the right side */
}

/* Hover effect for the arrows */
.arrow:hover {
  background-color: #ed1c76 /* Change the background color on hover */
}

/* Positioning for the video container and arrow buttons */
.video-arrow-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}
.carousel-item{
height: 500px !important;
width: 281px !important;
background-color: transparent;
/* margin-left: 2rem; */
}
.carousel-indicators {
  display: none !important;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  background-image: none;
  border: solid #ed1c76;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
  border-width: 0 3px 3px 0;
  padding: 3px;
  font-weight: bold !important;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev {
    left: 14px !important;
}

.carousel-control-next {
    right: 30px;
}

@media (max-width: 1024px) {
  .carousel {
      
      margin-right: auto;
  }
  .carousel-control-prev{
    /* left: 0px !important; */
  }
}
.carousel-inner{
width: 300px !important;
margin: 0 auto !important;
}

  /* Common styles for carousel arrows */




/* Style the icons inside the arrows */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: transparent; /* Remove any background color */
    background-image: none; /* Remove any existing background image */
    border: solid #ed1c76;
    border-width: 0 3px 3px 0;
    padding: 3px;
}

/* Rotate the previous arrow icon to point left */
.carousel-control-prev-icon {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/* Rotate the next arrow icon to point right */
.carousel-control-next-icon {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.voucher {
  text-align: center;
  padding: 50px 0;
 
}

.voucher__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.voucher__image img {
  max-width: 60%;
  height: auto;
  border: 3px solid white !important;
  border-radius: 15px;
  
}

.voucher__description {
  max-width: 50vw;
  text-align: left;
}

.voucher__description p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.voucher__description ul {
  list-style: none;
  padding: 0;
}

.voucher__description li {
  font-size: 1rem;
  margin: 5px 0;
}


@media (max-width: 768px) {
  .voucher__content {
      flex-direction: column;
      text-align: center;
  }
  .voucher__description {
      text-align: center;
  }
  .voucher__image img {
  max-width: 100%;
  height: auto;
 
  
}
}
